// Best Horror Scenes
$red: #e7473c;
$white: #f0eff0;
$fixedWidth: 525px;

$h1: 85px;
$h3: 30px;
$p: 18px;

$small: 768px;
$medium: 1024px;
$large: 1280px;

// Paint Box
$bg: #000000;
$sideSpace: 140px;

// 10x19
$bg1: #33006f;

// Schwartz
$fontMedium: 30px;
$border: 0.5px solid rgba(0, 0, 0, 0.3);

// tolv
$orange: #ff6429;
