// Best Horror Scenes
$red: #e7473c;
$white: #f0eff0;
$fixedWidth: 525px;

$h1: 85px;
$h3: 30px;
$p: 18px;

$small: 768px;
$medium: 1024px;
$large: 1280px;

// Paint Box
$bg: #000000;
$sideSpace: 140px;
