@import "styles";

body {
    background-color: $white;
}

header {
    height: 100%;
    padding: 190px 0;
    padding: 10vh 0 72px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: $red;

    h1 {
        width: 80%;
        margin: 0 auto 40px;
        font-size: $h1;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 5px;

        span {
            position: relative;
        }
    }

    .bottom {
        width: 80%;
        margin: 0 auto;
    }

    h3 {
        font-size: 30px;
        font-weight: 500;
        margin-bottom: 40px;
    }

    h3,
    p {
        line-height: 1.2;
    }

    p {
        font-weight: 500;
        font-size: 18px;
        margin-bottom: 40px;
    }

    nav {
        width: 100%;

        ul {
            display: flex;
            flex-wrap: wrap;

            li {
                margin: 0 12px 20px 0;
                padding-bottom: 5px;
                font-size: 11px;
                font-weight: 500;
                color: black;
                opacity: 0.5;
                border-bottom: 2px solid rgba(0, 0, 0, 1);
                cursor: pointer;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

main {
    margin-left: $fixedWidth;

    .movie {
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1) 5%, transparent, transparent, transparent, transparent) $red;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;

        .wrapper {
            width: 80%;
            display: flex;
            flex-direction: column;

            .movie__header {
                display: flex;
                justify-content: space-between;
                align-items: flex-end;
                margin-bottom: 25px;

                h4 {
                    font-size: 32px;
                    text-transform: uppercase;
                }

                h5 {
                    letter-spacing: 2px;
                }
            }
        }

        .img {
            width: 100%;
            height: 50vh;
            display: flex;
            align-items: center;
            justify-content: center;
            background-position: center center;
            background-size: cover;
            box-shadow: 0 80px 80px -80px #000, 0 0 12px rgba(0, 0, 0, 0.06), inset 0 0 0 1px rgba(0, 0, 0, 0.2);
        }

        &:first-of-type .img {
            background-image: url("https://source.unsplash.com/random/1");
        }

        &:nth-of-type(2) .img {
            background-image: url("https://source.unsplash.com/random/2");
        }

        &:nth-of-type(3) .img {
            background-image: url("https://source.unsplash.com/random/3");
        }

        &:last-of-type .img {
            background-image: url("https://source.unsplash.com/random/4");
        }
    }
}

@media screen and (max-width: $small - 1px) {
    header {
        height: auto;
        padding: 35px 0;
        padding: 5vh 0;

        h1 {
            font-size: 16vw;
        }

        h3 {
            font-size: 7vw;
        }

        p {
            font-size: 4vw;
        }

        nav {
            ul {
                li {
                    margin: 0 12px 5px 0;
                }
            }
        }
    }

    main {
        margin-left: 0;
    }
}

@media screen and (min-width: $small) {
    header {
        position: fixed;
        top: 0;
        left: 0;
        width: $fixedWidth;
    }
}

@media screen and (min-width: $small) and (max-width: $large) {
    header {
        width: $fixedWidth - 200px;

        h1 {
            font-size: $h1 - 30px;
        }

        .bottom {
            margin: 0 auto -190px;
            margin: 0 auto -10vh;
        }

        h3 {
            font-size: $h3 - 10px;
        }

        p {
            font-size: $p - 10px;
        }
    }

    main {
        margin-left: $fixedWidth - 200px;
    }
}
