@import "styles";

@import url("https://fonts.googleapis.com/css?family=Nunito|PT+Serif:400,400i&display=swap");

body {
    padding: 30px 40px;
    color: $black;
    line-height: 1.5;
    font-family: "PT Serif", serif;
    background-color: #f0efeb;
}

header {
    @media screen and (max-width: 601px) {
        height: 50vh;
    }

    height: 100vh;
    letter-spacing: 1px;

    h1 {
        font-size: 7vw;
    }
}

.works {
    .works__header {
        @extend %grid;
        padding-bottom: 10px;

        span {
            @extend %tinyText;
        }
    }

    .works__list {
        .works__work {
            padding: 20px 0px;
            font-size: 2vw;
            border-top: 1px solid $black;
            cursor: pointer;
            @extend %grid;

            &:hover {
                font-style: italic;
            }
        }
    }
}
.cv,
.about {
    @media screen and (max-width: $small) {
        height: 25vh;
    }

    height: 50vh;
}

.cv,
.about {
    padding-top: 15vh;
    font-size: 2.5vw;

    span {
        @extend %tinyText;
    }
}

a {
    color: $red1;

    &:hover {
        font-style: italic;
    }
}
