@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Caladea:400&display=swap");

@import "styles";

body {
    font-family: "Caladea";
    padding-top: 70px;
}

a {
    text-decoration: none;
    color: inherit;
    @extend %miniTitle;
}

// footer를 제외
body > *:not(.footer) {
    padding: 0px 140px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    color: white;
    background-color: $bg;

    nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        ul {
            display: flex;
            justify-content: center;
            align-items: center;
            text-transform: uppercase;
            font-size: 10px;
            @extend %miniTitle;

            &:first-child {
                li {
                    margin-right: 60px;
                }
            }
        }
    }
}

.hero {
    height: 100vh;
    margin: 0px $sideSpace;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.6));

    h4 {
        @extend %miniTitle;
        margin-bottom: 30px;
    }

    h3 {
        width: 40%;
        min-width: 380px;
        font-size: 48px;
        text-align: center;
        margin-bottom: 50px;
    }

    a {
        width: 15%;
        background-color: white;
        padding: 20px 0px;
        text-align: center;
        text-decoration: none;
        color: black;
        @extend %miniTitle;
        font-size: 10px;
        transition: color 0.3s linear, background 0.3s linear;

        &:hover {
            background-color: black;
            color: white;
        }
    }
}

.under-hero {
    height: 80vh;
    display: flex;
    margin: 0px 50px 80px;
    padding: 0;

    div {
        width: 50%;
        min-height: 300px;
    }

    .img {
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: url("https://source.unsplash.com/random/1");
        background-position: center center;
        background-size: cover;
    }

    .under-hero__content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: white;
        background-color: $bg;

        .wrapper {
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            h3 {
                font-size: 36px;
                text-align: center;
                margin-bottom: 50px;
            }

            h4 {
                @extend %miniTitle;
                margin-bottom: 30px;
            }

            a {
                padding: 20px;
                border: 1px solid white;
                background-color: white;
                color: black;
            }
        }
    }
}

.blog {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 60vh);
    margin-bottom: 80px;

    .blog__post {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        color: white;
        background-color: $bg;

        .post__content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .post__date {
                @extend %miniTitle;
                margin-bottom: 70px;
            }

            h4 {
                width: 80%;
                margin-bottom: 40px;
                text-align: center;
                font-size: 32px;
            }
        }
    }

    .img {
        min-height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .blog__post:first-of-type .img {
        background-image: url("https://source.unsplash.com/random/2");
        background-position: center center;
        background-size: cover;
    }

    .blog__post:nth-of-type(2) .img {
        background-image: url("https://source.unsplash.com/random/3");
        background-position: center center;
        background-size: cover;
    }

    .blog__post:last-of-type .img {
        background-image: url("https://source.unsplash.com/random/4");
        background-position: center center;
        background-size: cover;
    }
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-auto-rows: 410px;

    .gallery__poster {
        height: 100%;
        cursor: pointer;

        .img {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    .gallery__poster:first-of-type .img {
        background-image: url("https://source.unsplash.com/random/5");
        background-position: center center;
        background-size: cover;
    }

    .gallery__poster:nth-of-type(2) .img {
        background-image: url("https://source.unsplash.com/random/6");
        background-position: center center;
        background-size: cover;
    }

    .gallery__poster:nth-of-type(3) .img {
        background-image: url("https://source.unsplash.com/random/7");
        background-position: center center;
        background-size: cover;
    }
    .gallery__poster:nth-of-type(4) .img {
        background-image: url("https://source.unsplash.com/random/8");
        background-position: center center;
        background-size: cover;
    }
    .gallery__poster:nth-of-type(5) .img {
        background-image: url("https://source.unsplash.com/random/9");
        background-position: center center;
        background-size: cover;
    }
    .gallery__poster:nth-of-type(6) .img {
        background-image: url("https://source.unsplash.com/random/10");
        background-position: center center;
        background-size: cover;
    }
    .gallery__poster:nth-of-type(7) .img {
        background-image: url("https://source.unsplash.com/random/11");
        background-position: center center;
        background-size: cover;
    }
    .gallery__poster:last-of-type .img {
        background-image: url("https://source.unsplash.com/random/12");
        background-position: center center;
        background-size: cover;
    }
}

.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 100px;
    padding: 65px 0px;
    color: white;
    background-color: $bg;

    .footer__column {
        display: flex;
        flex-direction: column;
        align-items: center;
        @extend %miniTitle;

        .column__title {
            margin-bottom: 50px;
            opacity: 0.5;
        }

        ul {
            text-align: center;
            li {
                margin-bottom: 15px;
            }
        }

        &:nth-child(2) {
            border-right: 1px solid black;
            border-left: 1px solid black;
        }
    }
}

@media screen and (max-width: 375px) {
    header {
        padding: 0;
        justify-content: center;
        flex-direction: column;

        nav {
            flex-direction: column;
            ul {
                flex-direction: column;
                &:first-child {
                    li {
                        margin-right: 0;
                    }
                }
            }
        }
    }

    .footer {
        grid-template-columns: 1fr;
        padding: 10px 0 0;

        .footer__column {
            padding: 20px 0;
            .column__title {
                margin-bottom: 10px;
            }
        }
    }
}

@media screen and (max-width: $small) {
    body > *:not(.footer) {
        padding: 0 10px;
    }

    body > *:not(.footer, header) {
        padding: 0;
    }

    header {
        padding: 0 70px;
    }

    .hero {
        width: 100%;
        margin: 0;
        a {
            width: 50%;
        }
    }

    .under-hero {
        flex-direction: column;
        margin: 0 0 80px;
        height: auto;

        div {
            width: 100%;
            height: 100%;
            padding: 10px;
        }
    }

    .blog {
        grid-template-rows: 1fr;
        .blog__post {
            grid-template-columns: 1fr;
            .post__content {
                min-height: 300px;
            }
        }
    }

    .gallery {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 425px) {
    .hero {
        h3 {
            width: 80%;
            font-size: 10vw;
            min-width: 200px;
        }
    }
}

@media screen and (min-width: $small) and (max-width: $large) {
    body > *:not(.footer) {
        padding: 0 70px;
        padding: 0 10vh;
    }

    .hero {
        h3 {
            width: 80%;
            min-width: 380px;
        }

        a {
            width: 30%;
        }
    }
}
