@import "styles";

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

header {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: 1.3fr 4fr;
    place-content: center center;
    background-color: white;
    box-shadow: 0 0 10px 0 #00000080;

    h1 {
        padding-left: 10%;
        grid-column: 1 / -2;
        cursor: pointer;
        font-size: 18px;
        font-weight: 500;

        &:hover {
            color: blue;
        }
    }

    nav {
        padding-left: 10%;
        grid-column: 2 / -1;

        ul {
            display: flex;
            flex-wrap: wrap;
            font-size: 15px;
            line-height: 18px;

            li:not(:last-child) {
                margin-right: 10px;
            }

            li:hover a {
                color: blue;
            }
        }
    }
}

main {
    @media screen and (max-width: $small) {
        grid-template-columns: 1fr;
    }

    display: grid;
    grid-template-columns: 1.3fr 4fr;
    align-items: start;
    margin-top: 60px;
    padding: 20px;
    font-size: 13px;
}

section {
    @media screen and (max-width: $small) {
        grid-column: 1 / -1;
        grid-template-columns: 1fr;
        grid-column: 1 / -1;
    }

    display: grid;
    grid-column: 2 / -1;
    column-gap: 20px;
    row-gap: 80px;
    grid-template-columns: repeat(2, 1fr);

    .photo {
        &:hover {
            h4 {
                color: blue;
            }
        }

        img {
            max-width: 100%;
            margin-bottom: 10px;
        }

        h4 {
            padding: 10px 0 20px;
            font-size: 14px;
            line-height: 20px;
            font-weight: 300;
        }
    }
}
